<h1>Login</h1>

<a href="/register">sign up</a>
<a href="/login">login</a>
<a href="/logout">logout</a>

<form action="/login" method="POST">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <button>Submit</button>
</form>