<%- include("partials/header") %>

<h1>This is the homepage!</h1>

<img
  src="https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg"
  alt=""
/>

<%- include("partials/footer") %>
